body {
  background-color: rgb(172, 102, 238);
}

.text-center {
  text-align: center;
}

.fa-lightbulb {
  font-size: 30vw;
}

.controlsContainer {
  padding: 10px;
}

.controlsContainer button {
  background-color: #fbff00;
  padding: 6px 8px;
  margin: 15px 0;
  border: 2px solid black;
  font-size: 20px;
  font-variant: all-small-caps;
}
.controlsContainer input {
  width: 25vw;
  padding: 10px;
  font-size: 20px;
}
